@{
    Layout="~/shared/layout/_layout.cshtml";
    Page.Title = "Catalog Search";
    var db = Database.Open("nickel");

    var searchWords = Request["search"].Split(' ');
    IEnumerable<dynamic> result = Enumerable.Empty<string>();

    var sqlSelect = "SELECT p_id, p_name, p_price, p_description FROM products where p_name LIKE @0 OR p_description LIKE @0 OR p_price LIKE @0";

    foreach(var word in searchWords)
    {
        result = result.Concat(db.Query(sqlSelect, "%" + word + "%").ToList());
    }
}


<h1>Search Results</h1>
<p>@result.Count() products found matching: <em>@Request["search"]</em></p>
<ul id="searchResult">
@foreach (var item in result)
{
<li>
<a href="~/productDetails/@item.p_id">@item.p_name</a>
</li>
}
</ul>