
<div class="well sidebar-nav">
<h4>Menu</h4>
<ul class="nav nav-list">
    <li><a href="@Href("~/Admin/Orders/")">Orders</a></li>
    <li><a href="@Href("~/Admin/Categories/")">Categories</a></li>
    <li><a href="@Href("~/Admin/Products/")">Products</a></li>
    <li><a href="@Href("~/Admin/Users/")">Admin Users</a></li>
</ul>
</div>